{% extends "layout.html" %}

{% block title %}Biometrics{% endblock %}

{% block main %}
<div class="row justify-content-center"><div class="col-md-4">
    <form action="/biometrics" method="post">
        <input type="number" class="form-control mb-3" name="weight" 
        value="{{ stats['weight'] if stats and stats['weight'] is not none else '' }}"
        placeholder="weight">
        <input type="number" class="form-control mb-3" name="height" 
        value="{{ stats['height'] if stats and stats['height'] is not none else '' }}"
        placeholder="height">
        <input type="number" class="form-control mb-3" name="age"
        value="{{ stats['age'] if stats and stats['age'] is not none else '' }}"
        placeholder="age">
        <select name="gender" class="form-select mb-3">
            <option value="" disabled>Gender</option>
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
        </select>
        <select name="activity" class="form-select mb-3">
            <option value="" disabled>Activity_level</option>
            <option value="LOW">LOW</option>
            <option value="MEDIUM">MEDIUM</option>
            <option value="HIGH">HIGH</option>
        </select>
        <button type="submit" class="btn btn-primary">Enter</button>
    </form>
</div></div>
{% endblock %}