{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
        <div class="card mb-3">
            <div class="card-header">Breakfast</div>
            <ul class="list-group list-group-flush">
                {% for rows in data %}
                    {% if rows["meal_type"] == "Breakfast" %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">{{ rows["name"] }} - {{ ((rows["kcal"] / 100) * rows["weight"]) | round(1) }} kcal
                        <form action="/delete" method="post" style="display:inline;">
                            <input type="hidden" name="log_id" value="{{ rows['log_id'] }}">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </li>
                    {% endif %}
                {% endfor %}
           </ul>
           </div>
        <div class="card mb-3">
            <div class="card-header">Lunch</div>
            <ul class="list-group list-group-flush">
                {% for rows in data %}
                    {% if rows["meal_type"] == "Lunch" %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">{{ rows["name"] }} - {{ ((rows["kcal"] / 100) * rows["weight"]) | round(1) }} kcal
                        <form action="/delete" method="post" style="display:inline;">
                            <input type="hidden" name="log_id" value="{{ rows['log_id'] }}">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            </div>
        <div class="card mb-3">
            <div class="card-header">Dinner</div>
            <ul class="list-group list-group-flush">
                {% for rows in data %}
                    {% if rows["meal_type"] == "Dinner" %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">{{ rows["name"] }} - {{ ((rows["kcal"] / 100) * rows["weight"]) | round(1) }} kcal
                        <form action="/delete" method="post" style="display:inline;">
                            <input type="hidden" name="log_id" value="{{ rows['log_id'] }}">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </li>
                    {% endif %}
                {% endfor %}
           </ul>
        </div>
            <h3>TOTALS</h3>
            <ul>
                <li>Kcal today {{ total_kcal | round(1) }}</li>
                <li>Protein today {{ total_protein | round(1) }} g</li>
                <li>Kcal Goal {{ tdee | round(1) }}</li>
            </ul>
            <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ (total_kcal / tdee) * 100 }}%;">{{ ((total_kcal / tdee) * 100) | round(1)}}%</div>  
            </div>
{% endblock %}